In [19]:
import psycopg2
from sqlalchemy import create_engine
import pandas as pd

In [12]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import session
from sqlalchemy import create_engine, func

from config import postgreSQL_username, postgreSQL_password

In [13]:
engine = create_engine(f"postgresql+psycopg2://{postgreSQL_username}:{postgreSQL_password}@localhost/final_project")
Base = automap_base()
Base.prepare(engine, reflect=True)

In [17]:
Base.metadata.tables.keys()

dict_keys(['Country', 'Currency', 'CensusDataNum', 'EducationLev', 'CensusDataEducation', 'EducationCat', 'CensusDataClass'])

In [21]:
df = pd.read_sql_table('CensusDataEducation', con=engine)

In [22]:
df

,p_id,age,workclass,fnlwgt,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income_lev,education_cat_lev,education_cat
0,0,39,State-gov,77516,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0,4,Bachelor's degree
1,1,50,Self-emp-not-inc,83311,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0,4,Bachelor's degree
2,2,38,Private,215646,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0,2,HS graduate
3,3,53,Private,234721,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0,1,Less than HS graduate
4,4,28,Private,338409,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0,4,Bachelor's degree
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,32556,27,Private,257302,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,0,3,Some college or associate's degree
32557,32557,40,Private,154374,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,1,2,HS graduate
32558,32558,58,Private,151910,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,0,2,HS graduate
32559,32559,22,Private,201490,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,0,2,HS graduate
32560,32560,52,Self-emp-inc,287927,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,1,2,HS graduate